@import "@/styles/variables.scss";

// HEADING STARTS
.heading {
  text-align: center;
  margin-bottom: 40px;
  padding: 0 50px;
  background-image: url("/assets/images/heading-bg.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  h2 {
    font-size: calc($font-size-xxl + 10px);
    font-weight: 500;
    margin-bottom: 20px;
    text-align: center;
    color: $secondary-color;
    span {
      color: $primary-color;
      font-weight: 800;
    }
  }
}

// HEADING ENDS

@media (max-width: 768px) {
  .heading {
    padding: 0 30px !important;
    h2 {
      font-size: $font-size-xl !important;
    }
  }
}
